
.header-right .header-btn,
.header-right .header-btn span,
.product .photo a,
.product .photo img {
  vertical-align: middle;
}
.menu-item,
ul {
  list-style: none;
}

header {
  width: 100%;
  background: #103221;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 20000;
}
.header-right,
header .logo {
  position: absolute;
  z-index: 500;
}
header .logo {
  display: inline-block;
  width: 109px;
  height: 27px;
  background: url(/Content/build/img/logo.png);
  background-size: 100%;
  left: 15px;
  top: 14px;
  margin: 0;
}
.header-right {
  height: 55px;
  right: 0;
  top: 0;
}
.header-right * {
  display: inline-block;
}
.header-right .header-btn {
  height: 55px;
  padding: 0 17px;
  cursor: pointer;
  position: relative;
}
.header-right .header-btn::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.header-right .hamburger-wrap {
  background: #254c38;
  margin-left: 12px;
}
.header-right .cart {
  width: 20px;
  height: 20px;
  background: url(/Content/build/img/cart.png);
  background-size: 100%;
  position: relative;
}
.header-right .cart-number {
  right: 5px;
  top: 7px;
}
.header-right .back {
  width: 8px;
  height: 13px;
  background: url(/Content/build/img/back.png);
  background-size: 100%;
}
.header-right .search-wrap.active .search {
  background: url(/Content/build/img/search-g.png);
  background-size: 100%;
}
.header-right .search {
  width: 20px;
  height: 20px;
  background: url(/Content/build/img/search.png);
  background-size: 100%;
}
.header-right .hamburger {
  width: 18px;
  height: 12px;
  background: url(/Content/build/img/hamburger.png);
  background-size: 100%;
}
main,
section {
  background: #e4e4e4;
}
main {
  padding-top: 55px;
  min-height: 100vh;
}
section {
  padding: 10px 7px 0;
}
section:last-child {
  padding-bottom: 10px;
}
article {
  background: #fff;
}
.heading {
  height: 42px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e4e4e4;
}
.heading .title {
  display: inline-block;
  position: relative;
  color: #377153;
  font-weight: 700;
  padding-left: 11px;
  line-height: 1.3em;
  margin: 12px 0 0 15px;
  font-size: 14px;
}
.heading .title::before {
  content: "";
  height: 17px;
  border-left: 2px solid #5ba880;
  position: absolute;
  top: 0;
  left: 0;
}
.menu-content-wrap {
  display: none;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300000;
  overflow-y: hidden;
}
.menu-content-wrap .menu-content {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.menu-content-wrap .content {
  width: 100%;
  height: 100%;
  background: 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.menu-content-wrap .content .result {
  width: 100%;
  height: auto;
  max-height: 100%;
  background: #fff;
  padding: 0;
  overflow-y: auto;
}
.menu-content-wrap .close-wrap {
  height: 60px;
  width: 100%;
  background: 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 20px 15px;
}
.menu-content-wrap .menu-close {
  width: 18px;
  height: 18px;
  /* display: inline-block; */
  background: url(/Content/build/img/menu-close.png);
  background-size: 100%;
  float: right;
}
.menu-wrap {
  padding-top: 60px;
  position: relative;
  z-index: 10;
  height: 100vh;
}
.dropdown-wrap,
.tab-top {
  max-height: 100vh;
  z-index: 100;
  text-align: center;
}
.menu-wrap .menu {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 15px;
}
.menu-wrap .btn {
  width: 100%;
  height: 45px;
  border-radius: 0;
  color: #fff;
  position: relative;
  line-height: 30px;
  text-align: center;
}
.menu-back-btn,
.menu-title {
  border-bottom: 1px solid #e4e4e4;
  padding: 15px 38px;
  color: #377153;
}
.menu-wrap .btn img {
  position: absolute;
}
.menu-root-wrap {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.menulist {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16px;
}

.menulist:not(.menu-activate-slide) > .menu-container {
  /* opacity: 0; */
}
.menulist.menu-activate-slide > .menu-container {
  /* opacity: 1; */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.menulist .arrow-left {
  width: 6px;
  margin-right: 10px;
  vertical-align: baseline;
}
.menulist .btn-wrap {
  margin: 15px 38px;
}
.menu-back-btn {
  display: block;
  position: relative;
  line-height: 1.2em;
  background: #f7f7f7;
}
.menu-container {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-title {
  display: block;
  line-height: 1.2em;
}
.menu-content ul {
  padding-left: 0;
  margin: 0;
}
.menu-item {
  line-height: 1.2em;
  padding: 15px 38px;
  color: #858a92;
  position: relative;
}
.menu-item.active a {
  color: #377153;
}
.menu-item a {
  display: block;
  text-decoration: none;
  color: #858a92;
}
.menu-item a.active,
.menu-item a:active,
.menu-item:active {
  color: #377153;
}
.menu-item .arrow-right {
  height: 12px;
  float: right;
  margin-top: 4px;
}
.cart-number,
.menu-item .icon {
  display: inline-block;
  height: 15px;
}
.menu-item .icon {
  width: 15px;
  margin-right: 17px;
}
.sub-menu {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  box-sizing: border-box;
}
.cart-number {
  min-width: 15px;
  background: red;
  color: #fff;
  border-radius: 7.5px;
  padding: 2px 4px;
  line-height: 1em;
  font-size: 10px;
  position: absolute;
  top: 17px;
  right: 38px;
}
.fb-btn {
  background: #3b5998;
}
.fb-btn img {
  width: 8px;
  top: 12px;
  left: 24px;
}